.Rproj.user
.Rhistory
.RData
.Ruserdata
datos/~$CR_COUs_2017-2020.xlsx
datos/~$CRI_filas_y_columnas.xlsx
salidas/CRI_SCN_BD.xlsx
salidas/~$CRI_SCN_BD_Muestra.xlsx
scripts/Intro.nb.html
scripts/Intro.html
documentos/~$Presentacion_Cuenta_Bioeconomia.pptx
scripts/~$Intro.docx
scripts/Intro.docx
documentos/~$Presentacion_Procesamiento_COUs.pptx
